/*Search*/
input[type="text"] {
  border: none;
  border-color: transparent;
}

span#launch-search {
  border: none;
}

#search-input {
  background-color: #e9ecef;
}

/*Dropdown*/
.dropdown-parent {
  position: relative;
  z-index: 100;
  margin-right: 25px;
}

.dropdown-choices {
  display: block;
  list-style-type: none;
  text-overflow: ellipsis;

  overflow: hidden;
}
.dropdown-choices li:hover {
  background-color: white;
  color: black;
}
.dropdown-choices li {
  color: white;
  text-decoration: none;
}

.show-opts .dropdown-choices {
  display: flex;
  flex-wrap: wrap;
  writing-mode: vertical-lr;
  z-index: 3;
  max-width: 700px;
  max-height: 400px;
  overflow: hidden;
  padding-left: 0;
  margin: 0;
  padding: 0;
}

.fa-chevron-down {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

li.dropdown-item {
  color: white;
  cursor: pointer;
  writing-mode: horizontal-tb;
  display: flex;
  justify-content: flex-start;
  width: 33%;
}

/* .container-tag-options.bg-green.show-opts,
.container-tag-options.bg-orange.show-opts {
  margin-top: 0px;
} */

/* Tags */
.btnTag {
  border: 0px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: auto;
  padding: 10px;
}
.far {
  margin-left: 5px;
  color: white;
  font-size: 25px;
}

/*BTN*/
.btn {
  padding: 1.25rem;
  font-weight: 500;
  width: 250px;
}

.btn:hover {
  color: white;
}

/* BTN Droopdown */

.btn.bg-green,
.bg-green,
.bg-green input[type="text"] {
  background-color: #00dca9;
  color: white;
}

.btn.bg-green:hover {
  background-color: #00a881;
  color: white;
}

.btn.bg-orange,
.bg-orange,
.bg-orange input[type="text"] {
  background-color: #ff5a47;
  color: white;
}

.btn.bg-orange:hover {
  background-color: #ff2c14;
  color: white;
}

.show {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.opened-btn-container {
  display: none;
}

.opened-btn-container.show {
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
  top: -73px;
  left: 12px;
}

button.btn.selected-tag-btn {
  color: white;
  margin-right: 1rem;
}

.opened-btn-container.bg-primary.show {
  border-radius: 5px;
}

/*Tags*/
#ingredients-search {
  width: 100%;
}
#appliances-search {
  width: 100%;
}
#utensils-search {
  width: 100%;
}

.tag-search-input.form-control::placeholder {
  color: grey !important;
}

.tag-search.show {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.tag-search-input::placeholder {
  color: #d5c6c6 !important;
  font-weight: 600;
}

.fa-times:before {
  color: white;
  border-radius: 50%;
}
/*Ingredients*/
.ingredient-container {
  overflow: hidden;
}

/*Card*/
.card {
  border: 1px solid transparent;
}

.card-deck {
  margin: 0 !important;
  position: absolute;
  top: 25rem;
}

.card-content {
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 150px;
}

.card-content-title {
  font-size: 1.5rem;
}

.card-img-placeholder {
  background-color: #c9bdbd;
  min-height: 200px;
  border-radius: 10px 10px 0 0;
}

.ingredient-container {
  overflow: hidden;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: justify;
  padding-right: 1em;
  margin: 0 -1em -2rem 0.5rem;
}

/*recipes*/
article.card.recipe-card.pb-3.mb-5 {
  background-color: #f8f9fb;
  border: 1px solid transparent;
  border-radius: 10px;
  min-width: 30%;
  max-width: 30%;
  cursor: pointer;
}
